@font-face {
    	font-family: DINpro; /* Имя шрифта */
    	src: url(../fonts/dinpro-bold.otf); /* Путь к файлу со шрифтом */
}

 @font-face {
    	font-family: DINpro-regular; /* Имя шрифта */
    	src: url(../fonts/DINPro-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
	width: 100%;
	height: 100%;
}

.topBlock {
	height: 21.4%;
	background-image: url(../images/japan-tokyo-bridge.jpg);
	opacity: 0.9;
	outline: 0px solid blue;
	padding-bottom: 24%;
}

a {
	font-size: 24px;
	text-transform: uppercase;
	font-family: DINpro;
	color:#fff;
}



.topButton {
	margin-top: 32%;
	text-align: center;
}



.primary {
	border: 3px solid #fff;
	padding: 25px 40px;
}

.primary:hover{
	background: #fff;
	color: #000;
	text-decoration: none;
	opacity: 0.9;
}


.Services {
	text-align: center;
	font-size: 48px;
	font-family: DINpro;
	text-transform: uppercase;
	padding-top: 80px;
	height: 16.2%;
}

h3 {
	font-size: 30px;
}

.servContent p {
	text-align: center;
	font-family: DINpro-regular;
	font-size: 24px;
	text-transform: none;
}

.Services img {
		padding-top: 90px;
}

.Portfolio {
	background-color: #F7F7F7;
	height: 21.4%;
	padding-top: 96px;
}

.Portfolio p {
	font-size: 48px;
	font-family: DINpro;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 48px;
}

.topPort {
	padding-bottom: 5%;
	padding-left: 2%;

}


.bottomPort{
	margin-bottom: 5%;
	padding-left: 2%;

}

.About {
	padding: 0 50 50 50;
	margin: 0 auto;
	height: 29.5%;
	padding-top: 80px;
}

.About

.mainHeader {
	font-size: 48px;
	font-family: DINpro;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 50px;
}

.topHeader {
	font-size: 30px;
	font-family: DINpro;
	text-align: center;
	text-transform: uppercase;
	float: left;
}

.topContent {
	font-size: 18px;
	font-family: DINpro-Regular;
	float: left;
}

.justify p{
	text-align: justify;
}

.bottomBlock{
	padding-bottom: 100px;
}

.bottomHeader {
	font-size: 30px;
	font-family: DINpro;
	text-align: center;
	text-transform: uppercase;
	float: left;
}

.bottomContent {
	font-size: 18px;
	font-family: DINpro-Regular;
	float: right;
}

.BlackBlock {
	padding: 0 50 0 60;
	background-color: #000;
}

h2 {
	color:#fff;
	font-size: 30px;
	font-family: DINpro;
	text-transform: uppercase;
}

.BlackBlock p {
	color: #fff;
	font-size: 18px;
	font-family: DINpro-Regular;
	text-align: justify;
}

input[type="text"] {
	margin-bottom: 5%;
	width: 100%;
}

input[type="submit"]{
	padding:10px 40px; 
    background: #000;
    color: #fff; 
    border:2px solid #fff;
    cursor:pointer;
    -webkit-border-radius: 0px;
    border-radius: 0px; 
    font-size: 24px;
    float: right;
    text-transform: uppercase;
}

input[type="submit"]:hover{
	background: #fff;
	color: #000;

}

textarea {
	margin-bottom: 5%;
	width: 100%;
}

.send {
	padding: 10 5 10 5;
	color: #000;
	border: 2px solid #fff;
	letter-spacing: 2px;
}

.pasha {
	background-color: #000;
	text-align: center;
	padding-top: 5px;
}

.pasha p {
	color: #fff;
	font-family: DINpro;
	font-size: 11px;
}


/* Responsive Layout */

@media screen and (max-width: 960px) {
     .Portfolio img{
     	padding: 3% 0 3% 0;
     }

     .About{
     	padding: 0;
     	margin: 0;
     }

     .About img{
     	
     	float: left;
     	padding-bottom: 4%;
     }

     .BlackBlock{
     	padding: 0;
     	margin: 0;
     }

     .Portfolio{
     	text-align: center;
     }

     .pasha{
     	padding: 5% 0 5% 0;
     	margin: 0;
     }


}