*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../images/LightBg.jpg);
}

h3{
	text-align: center;
	font-family: georgia-italic;
	font-size: 36px;
}

p{
	font-size: 24px;
	text-align: justify;
	line-height: 1.4;
}

span{
	font-family: georgia-italic;
	font-weight: bold;
}

ul{
	list-style-type: none;
}

li{
	font-size: 18px;
	padding-top: 10px;
}

/* Fonts */

@font-face {
    font-family: georgia-italic; 
    src: url(../fonts/georgia-italic.ttf); 
   }

@font-face {
    font-family: georgia; 
    src: url(../fonts/georgia.ttf); 
}

/* Logog and H3 */

.logo{
	text-align: center;
	margin-top: 50px;
}


/* Top Block */

.top{
	text-align: justify;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Bottom Block */

.bottom{
	padding-bottom: 25px;
}

.right{
	float: right;
}


/* Discography Block */

.Discography{
	text-align: center;
}

.vinyl{
	text-align: center;
	padding-bottom: 60px;
	padding-top: 27px;
}

/* Footer Block */

.footer{
	padding: 35px 0 0px 0;
}

.footer ul li{
	display: inline-block;
	padding: 0 5px 0 5px;
}

a.artehover{
	width: 35px;
	height: 35px;
	overflow: hidden;
	display: block;
}

.footer p{
	text-align: center;
	font-family: georgia;
	font-size: 14px;
}

/* END ABOUT CSS */


/* RESPONSIVE */

@media (max-width: 1280px) and (min-width: 240px){
	p{
		font-size: 14px;
	}

	.footer ul li{
		padding: 0 1px 0 1px;
		float: right;
	}

	.Discography li{
		font-size: 14px;
	}
}
