/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@700&family=Roboto:wght@700;900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* MAIN STYLES */

body {
	font-family: 'Poppins', sans-serif;
	color: #575757;
}

button {
	-webkit-tap-highlight-color: transparent;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main-btn {
	background: #FB9333;
	color: #fff !important;

	border-radius: 100px;

	transition: color .3s ease, background .3s ease;
}

.main-btn:hover {
	background: #FFF0DC;
	color: #FB9333 !important;
}

.main-btn:active {
	background-color: #ffd8a1;
}

.hide {
	display: none;
}

/* HEADER */

.header {
	padding: 35px 0;
	width: 100%;

	position: fixed;

	z-index: 9999;

	transition: background .3s ease, padding .3s ease;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	word-spacing: 8px;
}

.logo span {
	color: #FB9333;
}

.header__nav ul {
	display: flex;
	gap: 56px;
}

.header__nav a {
	font-weight: 500;
	line-height: 130%;

	transition: color .3s ease, font-weight .3s ease;
}

.header__nav a:hover {
	color: #FB9300;
	font-weight: 700;
}

.header__nav a:active {
	color: #DE6D04;
}

.header .header__sign-in-btn {
	padding: 16px 45px;

	font-weight: 600;
}

/* Header mobile */

.header-transform {
	padding: 10px 0;
	
	background: #fff;

	box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
}

.header__sign-in-btn-mobile {
	padding: 10px 45px;

	display: none;
}

.burger-menu {
	display: none;
}

.burger-menu img {
	width: 30px;
}

.menu-close-btn {
	display: none;
}

.menu-close-btn img {
	width: 18px;
}

/* WELCOME */

.welcome {
	background: url(../img/welcome-bg.png) no-repeat center;
	background-size: cover;

	padding: 156px 0 0 0;
}

.welcome-container {
	max-width: 1350px;
}

.welcome__content {
	display: flex;
	justify-content: space-between;
}

.welcome__content-text {
	max-width: 593px;

	margin-left: 72px;
}

.welcome__title-upper {
	background: #FFF0DC;

	border-radius: 100px;

	display: inline-block;

	padding: 16px;

	margin-top: 60px;
}

.welcome__title-upper p {
	font-weight: 600;
	line-height: 130%;
	color: #FB9333;
}

.welcome__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 130%;
	/* or 94px */
	letter-spacing: -0.02em;

	margin-top: 30px;
}

.welcome__title span {
	color: #FB9333;
}

.welcome__subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	/* or 32px */
	color: #828282;
	letter-spacing: -0.02em;

	margin-top: 30px;
}

.welcome__order-btn {
	padding: 22px 45px;

	font-weight: 600;
	font-size: 18px;

	display: inline-block;

	margin-top: 35px;
	}

.welcome__stats {
	display: flex;
	justify-content: space-between;

	max-width: 352px;

	margin-top: 82px;
}

.stat__number {
	font-weight: 600;
	font-size: 24px;
	line-height: 160%;
	/* or 38px */
}

.stat__category {
	font-weight: 500;
	line-height: 160%;
	/* identical to box height, or 26px */
	color: #828282;
}

.welcome__content-img {
	position: relative;

	z-index: 1;

	/* height: 747px; */
	height: 40em;
}

.welcome__content-img::before {
	content: "";
	background: url(../img/heartbox.png) no-repeat center; 

	width: 100px;
	height: 100px;

	position: absolute;
	top: 0;
	right: 35px;

	z-index: -1;
}

.welcome__img-info {
	display: flex;
	justify-content: space-between;

	max-width: 620px;

	position: relative;
	top: -174px;
	left: 0;
}

.reviews {
	display: flex;
	justify-content: space-between;

	padding: 7px 32px 10px 7px;
	height: 74px;

	border-radius: 36px;

	background: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(255, 211, 71, 0.14);

	margin-top: 20px;
}

.reviews__img {
	height: 60px;
	width: 60px;

	border-radius: 50%;

	margin-right: 16px;
}

.reviews__text {
	margin-top: 6px;
}

.reviews__text h5 {
	font-weight: 600;
	line-height: 24px;
	/* identical to box height */
}

.reviews__text-stats {
	display: flex;
	align-items: center;
}

.reviews__text-stats img {
	width: 12px;
	height: 12px;

	margin-right: 9px;
}

.reviews__text-stats p {
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */
	margin-top: 2px;
}

.reviews__text-stats p span {
	color: #b3b3b3;
}

.calories {
	background: rgba(255, 255, 255, 0.9);

	border-radius: 28px;

	padding: 21px;

	box-shadow: 0px 20px 40px rgba(255, 211, 71, 0.14);
}

.calories h5 {
	font-weight: 500;
	line-height: 160%;
}

.calories p {
	font-weight: 600;
	font-size: 24px;
	line-height: 160%;
	/* or 38px */
	color: #2B2B2B;

	margin-bottom: 16px;
}

/* BENEFITS */

.benefits {
	padding: 120px 0 100px 0;
}

.benefits__heading {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	margin-bottom: 64px;
}

.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 140%;
	/* or 67px */

	letter-spacing: -0.02em;
	color: #585858;
}

.title span {
	color: #FB9333;
}

.benefits__heading-text {
	font-weight: 500;
	font-size: 20px;
	line-height: 180%;
	/* or 36px */

	letter-spacing: -0.02em;

	color: #828282;

	max-width: 450px;

	align-self: center;
}

.benefits__cards {
	display: flex;
	justify-content: space-between;

	max-width: 1260px;
	padding: 0 15px;
	margin: 0 auto;
}

.benefits__cards-item {
	padding: 40px 30px 48px 40px;
	max-width: 370px;

	border-radius: 50px;

	transition: box-shadow .3s ease;
}

.benefits__cards-item:hover {
	box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
}

.benefits__cards-item:hover a {
	background: #FB9333;
	
	color: #fff;
}

.benefits__cards-item:hover a svg path {
	stroke: #fff;
}

.benefits__cards-item-img {
	width: 100px;
	height: 100px;

	background: #FFE8C8;
	border-radius: 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.benefits__cards-item-img::before {
	content: "";

	height: 100%;
	width: 100%;

	background: rgba(255, 232, 200, 0.5);
	border-radius: 20px;
	transform: rotate(15deg);

	position: absolute;
}

.benefits__cards-item h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 180%;
	/* or 43px */

	letter-spacing: -0.02em;

	color: #2B2B2B;

	margin-top: 80px;
}

.benefits__cards-item p,
.benefits__cards-item a {
	line-height: 180%;
	/* or 29px */
	letter-spacing: -0.02em;
	color: #575757;

	margin-top: 12px;
}

.benefits__cards-item a {
	display: inline-block;
	margin-top: 34px;
	padding: 10px 24px;

	border-radius: 100px;

	transition: color .3s ease, background .3s ease;
}

.benefits__cards-item a svg {
	margin-top: 4px;
	margin-left: 5px;
}

.benefits__cards-item a svg path {
	transition: stroke .3s ease;
}

.benefits__cards-item a:hover {
	background: #FFF0DC;
	color: #FB9333;
}

.benefits__cards-item a:hover svg path {
	stroke: #FB9333;
}

.benefits__cards-item a:active {
	background-color: #ffd8a1;
}

/* TESTIMONIALS */

.testimonials {
	padding: 107px 0 121px 15px;

	background: linear-gradient(180deg, #FFF8ED 0%, rgba(255, 248, 237, 0.5) 100%);
}

.testimonials__content {
	display: grid;
	grid-template-rows: max-content;
	grid-template-columns: 1.1fr 1.4fr 3.5fr;
	grid-template-areas: ". text slider";
	align-items: center;

	overflow: hidden;
}

.testimonials__content-text {
	max-width: 415px;
	/* padding-right: 50px; */
	grid-area: text;
}

.testimonials__title {
	font-weight: 600;
	font-size: 48px;
	line-height: 133%;
	/* or 133% */
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #333333;
}

.testimonials__subtitle {
	line-height: 150%;
	/* or 24px */
	color: #999999;

	margin-top: 30px;
}

.pagination {
	margin-top: 30px;

	font-family: 'Raleway';
	font-weight: 700;
	font-size: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #CCCCCC;
}

.slide-number {
	font-size: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #333333;
}

.slide-controls {
	margin-top: 25px;
	gap: 20px;

	display: flex;
	gap: 24px;
}

.slider-btn {
	width: 56px;
	height: 56px;

	background: #FFD7A0;
	
	border-radius: 10px;

	transition: background .3s ease;
}

.slider-btn.active {
	background: #FB9333;
}

.slider-btn.active:hover {
	background: #fcae66;
}

.slider-btn.active:active {
	background: #fa7f0e;
}

/* Testimonials slider */

.testimonials__slider {
	position: relative;

	grid-area: slider;
}

.testimonials__slider-wrapper {
	position: relative;

	height: 442px;

	display: flex;
	align-items: end;
}

.testimonials__slider-item {
	max-width: 270px;
	padding: 32px 24px;

	background: #fff;

	border-radius: 8px;

	height: 400px;

	/* position: relative; */
}

.slide-item-img {
	width: 90px;
	height: 90px;

	border-radius: 8px;
	display: block;

	position: relative;
	top: -70px;

	object-fit: cover;
}

.slide-item-name {
	font-weight: 500;
	font-size: 24px;
	line-height: 133%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #2B2B2B;
}

.slide-item-age {
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: #999999;

	margin-top: 8px;
}

.slide-item-text {
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #575757;

	margin-top: 20px;
}

/* SALAD MENU */

.salad-menu {
	padding: 120px 0 150px;
}

.salad-menu__heading {
	text-align: center;

	max-width: 732px;
	margin: 0 auto;
}

.salad-menu__heading-top {
	font-weight: 500;
	font-size: 20px;
	line-height: 180%;
	/* identical to box height, or 36px */
	letter-spacing: -0.02em;
	color: #FB9333;

	margin-bottom: 12px;
}

.salad-menu__items {
	margin-top: 70px;

	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.salad-menu__item {
	width: 370px;
	
	position: relative;
	
	border-radius: 50px;

	overflow: hidden;
}

.salad-menu__item-img {
	height: 520px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;

	transition: transform .4s ease-in-out, filter .4s ease-in-out;
	transition-delay: 0.1s;
}

.salad-menu__item-text {
	padding: 40px;

	position: absolute;
	bottom: 0;
	width: 100%;
}

.salad-menu__item-text h5 {
	font-weight: 600;
	font-size: 24px;
	line-height: 130%;
	color: #FFFFFF;
}

.price {
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: #FFFFFF;
}

.salad-menu__item:hover .salad-menu__item-img {
	transform: scale(1.1);
	filter: brightness(70%);
}

/* CONTACT US */

.contact-us {
	padding-bottom: 160px;
}

.contact-us__content {
	padding: 48px 15px 95px;

	text-align: center;

	border-radius: 50px;
	
	background: #FFF8ED url(../img/wave2.png) no-repeat center -65%;
}

.contact-us__text {
	max-width: 655px;

	margin: 0 auto;
}

.contact-us__heading-top {
	font-weight: 500;
	font-size: 20px;
	line-height: 180%;
	/* identical to box height, or 36px */
	letter-spacing: -0.02em;
	color: #FB9333;
}

.contact-us__heading-title {
	font-weight: 600;
	font-size: 48px;
	line-height: 140%;
	/* or 67px */
	letter-spacing: -0.02em;
	color: #585858;

	margin-bottom: 24px;
}

.contact-us__subtitle {
	font-weight: 500;
	line-height: 160%;
	/* or 26px */
	letter-spacing: -0.02em;

	opacity: 0.7;

	max-width: 462px;

	margin: 0 auto;
}

.contact-us__email-field {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 80px;
}

.input-email {
	width: 525px;
	height: 80px;
	padding: 10px 10px 10px 30px;

	background: #FFFFFF;
	box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
	border-radius: 100px 0 0 100px;

	outline: none;
}

.input-email:focus {
	background: rgba(255, 255, 255, 0.6);
}

.input-btn-wrapper {
	padding: 8px;
	border-radius: 0 100px 100px 0;
	background: #fff;
}

.input-btn {
	padding: 19px 40px;
}

/* FOOTER */

.footer {
	padding-bottom: 100px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	gap: 70px;
}

.footer__content h6 {
	font-weight: 600;
	line-height: 22px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FB9333;

	margin-bottom: 26px;
}

.footer__content-col {
	display: flex;
	justify-content: space-between;

	gap: 30px;
}

.footer__content-col:first-of-type {
	width: 374px;
}

.footer__content-col:last-of-type {
	width: 553px;
}

.footer__desc {
	max-width: 212px;
}

.footer__logo {
	font-size: 24px;
	word-spacing: unset;
}

.footer__desc-text {
	margin-top: 26px;
	margin-bottom: 67px;
}

.footer__copy {
	font-size: 16px;
	line-height: 150%;
	color: #2B2B2B;
}

.footer__nav ul li + li {
	margin-top: 24px;
}

.footer__nav ul li a {
	transition: color .3s ease;
}

.footer__nav ul li a:hover {
	color: #969696;
}

.footer__nav ul li a:active {
	color: #4b4b4b;
}

.footer__contacts {
	width: 237px;
}

.footer__contacts ul li {
	display: flex;
	gap: 15px;
}

.footer__contacts ul li img {
	object-fit: contain;
	align-self: start;
}

.footer__contacts ul li + li {
	margin-top: 20px;
}

.footer__socials ul {
	display: flex;
	gap: 32px;

	margin-bottom: 25px;
}

.footer__socials ul li a svg path {
	transition: fill .3s ease-in-out;
}

.footer__socials ul li a:hover svg path {
	fill: #fdc999;
}

.footer__socials ul li a:active svg path {
	fill: #fa7f0e;
}